:root{
    --primary-color:#FFE19C;
    --secondary-color:#DB9D47;
    --background-color:#3A3042;
    --text-color:#EDFFD9;
    font-family: "Newsreader", serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    --accent-color: #FF784F;
    --accent2-color: #45442D;
    background-color: var(--accent2-color);
}
/* .navigation {
    display: none;
} */
 .navigation {
     display: none;
     border-bottom: solid 1px var(--accent2-color);
 }

 .navigation.show {
     display: block;
 }

 .navigation ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 .navigation a {
     display: block;
     padding: 0.8rem 10px;
     color: var(--primary-color);
     text-decoration: none;
     border-bottom: solid 1px var(--primary-color);
 }

 .hamburger {
     background: none;
     border: none;
     color: var(--primary-color);
     cursor: pointer;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 .hamburger::after {
     content: "\2630";
     font-size: 2rem;
 }

 .hamburger.show::after {
     content: "\00d7";
     font-size: 2rem;
 }

 .navigation li.current {
     background-color: var(--accent-color);
 }

 .navigation a:hover {
     background-color: var(--secondary-color);
 }

 h1 {
     margin-left: 10px;
     color: var(--primary-color);
 }

label,div,span,p{
    color: var(--primary-color);
 }

 .grid::after {
      content: "#";
      font-size: 2rem;
  }

   .grid.form::after {
       content: "|";
       font-size: 2rem;
   }
 /* ***** companies ***** */

 .com{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 }
 .com.form{
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
 }
 section{
    background-color: var(--background-color);
    color: var(--text-color);
    border: solid var(--secondary-color);
 }
 p {
    padding-left: 10px;
 }
/* *****form***** */

.form {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 10px, 50px; */
    /* background-color: red; */
}
.form label {
    margin-bottom: 10px;
    grid-column: 1;
}
.form input, textarea {
    display: flex;
    flex-direction: column;
}

/* *****Discover***** */
.inter{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 30px, 30px, 30px, 30px,30px, 30px,30px, 30px;
}
 /* *****Footer***** */
 footer{
    color: var(--text-color);
    background-color: var(--background-color);
 }