@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }
    .navigation{
        display: block;
    /* border-bottom: solid 1px var(--secondary-color);     */
    }

    .navigation ul{
        display: flex;
        flex-direction: row;
    }
    .navigation a{
        border: none;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    div p {
        display: contents;
    }

    div {
        margin: 1rem;
    }

    :link {
        background-color: burlywood;
        color: rgb(39, 39, 121)
    }

    /* img {
        width: 50%;
        height: auto;
    } */
}