:root{
    --primary-color:burlywood;
    --secondary-color:rgb(39, 39, 121);
    --accent-1-color: rgb(162, 125, 77);
}

header {
    display: flex;
    justify-content: space-around;
}


div {
    /* display: flex;
    flex-direction: row; */
    background-color:var(--secondary-color);

}

h1,
h2,
h3 {
    background-color: var(--primary-color);
    color:var(--secondary-color);
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: var(--primary-color);
    background-color:var(--secondary-color);
    font-family: "Playfair Display", serif;
}
/* *****hamburger***** */

.navigation{
    display: none;
}
.navigation.show{
    display: block;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    color: var(--primary-color);
}
.hamburger
{
    background: none;
    border: none;
    cursor: pointer;   
}

.hamburger::after{
    content:"\2630";
    font-size: 2rem;
}

.hamburger.show::after{
    content: "\00d7";
    font-size: 2rem;
}

.navigation li.current{
    color: var(--accent-1-color);
}

.navigation a:hover{
    background-color: var(--accent-1-color);
}

/* *****footer***** */

footer {
    background-color: var(--secondary-color);
}

img {
    display: block;
    width: 75%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--primary-color)
}
