:root {
    --primary-color: burlywood;
    --secondary-color: rgb(39, 39, 121);
    --accent-1-color: rgb(162, 125, 77);
}
.navigation ul{
    display: flex;
    justify-content: space-around;
}

/* *****hamberger***** */

.navigation{
    display: none;
}
.navigation.show{
    display: block;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
}
.hamburger::after{
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::after{
    content: "\00d7";
    font-size: 2rem;
}
.navigation li.current{
    background-color: var(--accent-1-color);
}
.navigation a:hover{
    background-color: var(--accent-1-color);
}

/* ***** non-hamburger portion ***** */
h1,
h2,
h3 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Roboto Condensed", sans-serif;
}