:root {
    --primary-color: burlywood;
    --secondary-color: rgb(39, 39, 121);
    --accent-1-color: rgb(162, 125, 77);
}
.navigation ul{
    display: flex;
    justify-content: space-around;
}






.navigation{
    display: none;
}
.navigation.show{
    display: block;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navigation a {
    display: block;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--accent-1-color);
    padding: 10px;
}
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
}
.hamburger::after{
    content: "\2630";
    font-size: 2rem;
}
.hamburger.show::after{
    content: "\00d7";
    font-size: 2rem;
}
.navigation li.current{
    background-color: var(--accent-1-color);
}
.navigation a:hover{
    background-color: var(--accent-1-color);
}





h1,
h2,
h3 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Roboto Condensed", sans-serif;
}
p, footer{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: "Playfair Display", serif;
}



.com {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.com.form {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    background-color: var(--background-color);
    color: var(--text-color);
    border: solid var(--secondary-color);
}

p {
    padding-left: 10px;
}